{% extends 'base.html' %}

{% block script %}
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA3bO8PKIvpJ-Js_hdMw8RMricy_v5SppA&sensor=false"</script>    
<script src="https://maps.googleapis.com/maps/api/js?v=3&sensor=false"></script>
<script>    
function initialize() {
    var mapOptions = {
    zoom: 15,
    center: new google.maps.LatLng(50.803242, 4.388517),    
    };      
       
    var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);        
    var marker = new google.maps.Marker({
      position: new google.maps.LatLng(50.803242, 4.388517),      
    });
    marker.setMap(map);  
};


$('#myModal').on('shown.bs.modal', function() {
   initialize();
});

</script>
{% endblock %}


{% block jumbotron %}
   <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <div class='col-sm-6'>
        <h1>Avocat au Barreau de Bruxelles</h1>
        <p>A l’écoute et sensible à votre situation, nous vous garantissons une analyse rigoureuse de votre dossier et un avis objectif quant à vos chances de succès.</p>
        <!--  <p><a class="btn btn-primary btn-lg" href='{% url "aboutus" %}' role="button">En savoir plus &raquo;</a></p>-->
        </div>
        <div class='col-sm-6'>
           <p><img  src='{{ STATIC_URL }}/img/Franklin.jpg' class='img-responsive' /></p>
        </div>
      </div>
    </div>    
{% endblock %}

{% block content %}
        <div class="col-md-3">
          <h2>Droit des étrangers</h2>
        <div class="description">
          <p>Procédures administratives visant à régulariser la situation d'une personne sur le territoire belge:</p>        
          <ul>            
            <li>permis de travail ou carte professionnelle</li>
            <li>regroupement familial</li>
            <li>régularisation pour circonstances exceptionnelles</li>
            <li>régularisation pour raisons médicales</li>
            <li>asile politique/protection subsidiaire</li>
            <li>recours devant le Conseil du Contentieux des Etrangers (CCE) contre une décision de refus/retrait de séjour avec ordre de quitter le territoire</li>
          </ul>
          <p>A cet égard, nous représentons nos clients devant les juridictions et autorités administratives du pays (Commissariat Général aux Réfugiés et Apatrides (CGRA, Conseil du Contentieux des Etrangers (CCE))</p>
        </div>
        <!--   <p><a class="btn btn-default" href="#" role="button">En savoir plus &raquo;</a></p> -->
        </div>
        <div class="col-md-3">
          <h2>Droit commercial et entreprises en difficulté</h2>
          <div class="description">
            <p>Nous assistons et conseillons les gérants d’entreprises en difficulté/ou indépendants afin de leur permettre de rétablir l’équilibre financier et assurer la continuité de leurs affaires, par le biais notamment de la procédure en réorganisation judiciaire. </p>
            <p>En cas de faillite, nous vous accompagnons et représentons au mieux vos intérêts face aux différentes actions pouvant être initiées par un curateur.</p>
            <p>En outre, nous assurons efficacement toute procédure en matière commerciale que vous souhaiteriez engager à l’égard d’un tiers en vue de préserver vos droits.</p>
        </div>
          <!--<p><a class="btn btn-default" href="#" role="button">En savoir plus &raquo;</a></p>-->
       </div>
        <div class="col-md-3">
          <h2>Droit civil et droit pénal</h2>
          <div class="description">
            <p>Enfin, qu’il s’agisse de droit civil (litige avec votre locataire, votre bailleur, un vendeur, un acheteur, une banque ou tout autre institution) ou de droit pénal (interpellation et poursuites devant les juridictions répressives), nous assurons votre défense et nous veillons à ce que vous bénéficiez de toutes les garanties que vous offrent la législation nationale et supranationale.</p>
        </div>
         <!-- <p><a class="btn btn-default" href="#" role="button">En savoir plus &raquo;</a></p>-->
       </div>        
        <div class="col-md-3">
          <h2>Contact</h2>
          <div class="description">          
          <p>Pour un traitement efficace et rapide de votre dossier, vous avez également la possibilité, en ligne d’obtenir un avis écrit, de consulter votre dossier et de télécharger des documents.</p>         
          <address>
            <strong>Maître Amira SADEK</strong><br>
            Avenue Franklin Roosevelt, 186 bte 1<br> 
            1050 - Bruxelles   <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal">
              <span class="glyphicon glyphicon-map-marker"></span>
            </button><br>                  
            <abbr title="Mobile">Mob.</abbr> +32 486 904 097 <br>
            <abbr title="Phone">Tél.</abbr> +32 2 672 27 02 <br>
            <abbr title="Fax">Fax</abbr> +32 2 672 26 36<br>
            <a href="mailto:amira.sadek@as-law.be">amira.sadek@as-law.be</a><br>           
          </address>
          </div>          
         <!-- <p><a class="btn btn-default" href="#" role="button">En savoir plus &raquo;</a></p> -->
        </div>
       
       <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">                
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Avenue Franklin Roosevelt, 186 bte 1 <br> 1050 - Bruxelles</h4>              
            </div>
            <div class="modal-body">                
                <div class="row">
                   <div id="map-canvas"/>                
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>              
            </div>
          </div>
        </div>
      </div>
         <!-- <div class="col-md-3">
        <h2>Nous vous contactons:</h2>
            <form method='POST' action=''> {% csrf_token %}
            {{ form.as_p }}
            <input type='submit' class='btn btn-success btn-block' value="Enregistrez-vous">
            </form>
        </div> -->
{% endblock %}
    